# Variáveis de ambiente
.env
**/.env

# Dependências
/vendor/

# Diretórios sensíveis / gerados em runtime
/auth_inst*/
logs/*
logs/

# Node / geral
node_modules/
npm-debug.log*
yarn-error.log*

# Sistema
.DS_Store
Thumbs.db

